<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>
<body>
    <h2>發表一篇圖文</h2>
    <form id="upload-form" enctype="multipart/form-data">
        <div>
            <label for="message">留言內容:</label>
            <input type="text" id="message" name="message">
        </div>
        <div>
            <label for="image">選擇圖檔: </label>
            <input type="file" id="image" name="file" accept=".jpg,.png,.jpeg "multiple>
        </div>

        
        <button id="submit">送出</button>
    </form>
    <form>
    </form>
    <section></section>
    <script src="../static/index.js"></script>
</body>
</html>